<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI Showcase!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body class="Site">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu has-background-grey-lighter">
        <div class="navbar-start">
          <img src="/static/logo_robot.png" width="70" height="70">

          <a class="navbar-item" href='/'>
            Home
          </a>
          
          <a class="navbar-item">
            Profile
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Games
            </a>
    
            <div class="navbar-dropdown">              
              <form class="navbar-item" action="/rps/" method="post">
                <button class="button is-light" type="submit">RPS</button>
              </form>

              <form class="navbar-item" action="/tiar/" method="post">
                <button class="button is-light" type="submit">TIAR</button>
              </form>

              <form class="navbar-item" action="/fiar/" method="post">
                <button class="button is-light" type="submit">FIAR</button>
              </form>
            </div>
          </div>
  
        </div>
  

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              % if defined('user'):
              <form method="POST" action="/logout/">
                <button class="button is-light">
                  Sign out
                </button>
              </form>
              % else:
              <a class="button is-light" href='/login/'>
                Log in
              </a>
              <a class="button is-primary" href="/register/">
                <strong>Sign up</strong>
              </a>
              % end



            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="Site-content has-background-white-ter">
      {{!base}}
    </main>
  </body>

  <footer class="Custom_Footer footer has-background-grey-lighter">
    <div class="content has-text-centered">
      <p>
        <strong>AI showcase</strong> created by <a href="https://github.com/JakobPogacnikSouvent">Jakob Pogačnik Souvent</a> as a school project for <a href="https://www.fmf.uni-lj.si/sl/">Faculty of Mathemathics and Physics Ljubljana</a>.
      </p>
    </div>
  </footer>

</html>