% rebase('base.html')

<div class="container">
    <div class="section">

        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title" style="color: black;">Bulma Card Layout Template</h1><br>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="card large">
                    
                    <div class="card-image">
                        <form action="/rps/" method="post">
                            <input type="image" class="custom-card-image" src="/static/pravila.png" alt='Rock Paper Scissors' width="400" height="400">
                        </form>
                    </div>
                    
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 no-padding">Rock Paper Scissors</p>
                            </div>
                        </div>
                        
                        <div class="content">
                            Play the classic game of rock paper scissors agains a computer AI.
                        </div>
                    </div>
                </div>
            </div>   
                
            <div class="column is-4">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/static/rps.png" alt="Image">
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 no-padding">Three in a Row</p>
                            </div>
                        </div>
                        
                        <div class="content">
                            Play the classic game of three in a row agains a computer AI.
                            <form action="/tiar/" method="post">
                                <button type="submit">TIAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="column is-4">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/static/rps.png" alt="Image">
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 no-padding">Four in a Row</p>
                            </div>
                        </div>
                        
                        <div class="content">
                            Play the classic game of four in a row agains a computer AI.
                            <form action="/fiar/" method="post">
                                <button type="submit">FIAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>