% rebase('base.html')
% import model

<div class="container">
  <div class="section">

    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title is-1">Rock Paper Scissors</h1>
      </div>
    </div>

    % if game.winner == 1:
    <div class="has-background-success-light C-win-border C-winbox-spacing">
    % elif game.winner == 2:
    <div class="has-background-danger-light C-lose-border C-winbox-spacing">
    % elif game.winner == 3:
    <div class="has-background-link-light C-draw-border C-winbox-spacing">
    % else:
    <div class="C-winbox-spacing">
    % end
    
      <div class="columns">
        <div class="column has-text-centered">
          <h3 class="title is-3">P1:</h3>
        </div>
        <div class="column has-text-centered">
            <h3 class="title is-3">CPU:</h3>
        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered">
          % if game.get_player_choice() == "rock":
          <img src="/static/kamen.png" alt='Rock' width="200" height="200">
          % elif game.get_player_choice() == "scissors":
          <img src="/static/skarje.png" alt='Scissors' width="200" height="200">
          % elif game.get_player_choice() == "paper":
          <img src="/static/papir.png" alt='Paper' width="200" height="200">
          % else:
          <img src="/static/blank.png" width="200" height="200">
          % end
        </div>
        
        <div class="column has-text-centered">
          % if game.get_computer_choice() == "rock":
          <img src="/static/kamen.png" alt='Rock' width="200" height="200">
          % elif game.get_computer_choice() == "scissors":
          <img src="/static/skarje.png" alt='Scissors' width="200" height="200">
          % elif game.get_computer_choice() == "paper":
          <img src="/static/papir.png" alt='Paper' width="200" height="200">
          % else:
          <img src="/static/blank.png" width="200" height="200">
          % end
        </div>  
      </div>

      <div class="column has-text-centered">
        % if game.winner == 1:
        <p class="has-text-success">You Win!</p>
        % elif game.winner == 2:
        <p class="has-text-danger-dark">You Lose!</p>
        % elif game.winner == 3:
        <p class="has-text-link-dark">Draw!</p>
        % else:
        <p>Make your move!</p>
        % end
      </div>
    
    </div>
      
    <div class=" columns">
      <div class="column has-text-centered">
        <form action="/rps/{{game_id}}/" method="post">
            <input type="hidden" name='player_choice' value='rock'>
            <input class="C-black-border-hover" type="image" src="/static/kamen.png" alt='Rock' width="150" height="150">
        </form>
      </div>

      <div class="column has-text-centered">
        <form action="/rps/{{game_id}}/" method="post">
            <input type="hidden" name='player_choice' value='paper'>
            <input class="C-black-border-hover" type="image" src="/static/papir.png" alt='Paper' width="150" height="150">
        </form>
      </div>

      <div class="column has-text-centered">
        <form action="/rps/{{game_id}}/" method="post">
            <input type="hidden" name='player_choice' value='scissors'>
            <input class="C-black-border-hover" type="image" src="/static/skarje.png" alt='Scissors' width="150" height="150">
        </form>
      </div>
    </div>

    <hr class="C-divider">

    <!-- AI select -->
    <div class="columns">
      <div class="column is-narrow">
        <h1 class="title is-3">
          Play against:                
        </h1>
      </div>

      <div class="column">
        <div class="dropdown is-up" id="custom-dropdown">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{{game.get_ai_name_text()}}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
               
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <form action="/rps/" method="POST">
                <input type="hidden" name="ai" value="0">
                <button class="button is-light" type="submit">Random AI</button>
              </form>

              <form action="/rps/" method="POST">
                <input type="hidden" name="ai" value="1">
                <button class="button is-light" type="submit">Greedy AI</button>
              </form>

              <form action="/rps/" method="POST">
                <input type="hidden" name="ai" value="2">
                <button class="button is-light" type="submit">Average AI</button>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="column is-narrow" id='show-button'>
        <button class="button">Read about the AI</button>
      </div>

    </div>

    % if game.get_ai_name_text() == "Random AI":
      <div class="columns is-hidden" id="show-div">
          <div class="content C-ai-explanation">
            <h1>
              Random AI
            </h1>
            <p class="C-justify">  
              The simplest possible AI that works by randomly selecting either Rock, Paper or Scissors.
              Interestingly enough since Rock, Paper, Scissors is a very simplistic game that can be in a vacumn perceived as random,
              such AI should have a 33% win rate, 33% loss rate and 33% draw rate against all oponents.
            </p>
            <p class="C-justify">
              While this is a theoretically perfect AI when playing against computers, humans have some innate biases that can be exploited
              in the game of Rock, Paper, Scissors to write a better performing AI that predicts the player's actions.
            </p>
          </div>
      </div>
    % elif game.get_ai_name_text() == "Greedy AI":
      <div class="columns is-hidden" id="show-div">
        <div class="content C-ai-explanation">
          <h1>
            Greedy AI
          </h1>
          <p class="C-justify">  
            The affectionately dubbed Greedy AI is an AI that uses the player's last played choice and uses it exclusively to predict
            the player's next move. The prediction works by exploiting the observations that human players are more likely to stick with
            the same choice if it brought them victory in a round while also being more likely to switch if they lost. Thus the AI predicts
            that upon winning the player will stick with their choice but upon losing the player will switch to what beat him. While easily
            exploitable upon knowing how it works it should, in theory, proudce a higher win rate than random AI versus human oponents. Against
            a player that chooses their moves randomly this AI has no advantage.
          </p>
          <p class="C-justify">
            A greedy algorithm in programming is any algorithm that follows the problem-solving heuristic of making the locally optimal choice at each stage.
            In other words it solves a big problem by chosing the best choice in each step of the way. This name has a slightly ironic conontation
            as this "Greedy" AI works not by chosing the optimal choice but by chosing what we hope is the optimal choice and thus avoiding the harder problem
            of predicting the player.
          </p>
          <p class="C-justify">
            The winrate might be slightly increased if we figured out what humans are likely to switch to after drawing.
            The biggest flaw of this AI is that once its strategy is known to a human opponent its win rate drops to 0%
            as it has a deterministic algorithm.
          </p>
        </div>
      </div>
    % elif game.get_ai_name_text() == "Average AI":
      <div class="columns is-hidden" id="show-div">
        <div class="content C-ai-explanation">
          <h1>
            Average AI
          </h1>
          <p class="C-justify">  
            The Average AI works by exploiting the human tendency to pick the same choices over and over again. It works by saving all choices
            the player has ever made and calculating the percentage of times he has picked a certain item and then having that same probability
            to chose the wining item. As the algorithm is not deterministic the player gains no significant advantage from knowing how it works,
            but as all Rock, Paper, Scissors AI, still only has a 33% win rate against random oponents.
          </p>
          <p class="C-justify">
            The AI could be improved by not only looking at the overall probability but by also taking into account the sequence of player's last
            choices and make a better prediction, but such improvements border on machine learning. As a last interesting sidenote, since the AI saves
            all games ever played by the player it is probably possible to crash the program or at least grow the player.json file to ridiculous
            sizes by playing millions of games of rock paper scissors, which you have my permission to achieve, if you have nothing better to do
            for the next few years and have a really low bar for quality entertainment.
          </p>
        </div>
      </div>
    % end
    <!-- End of AI Select -->

  </div>
</div>
<script src="/static/script.js"></script>