% rebase('base.html')

% import model

<div class="container">
    <div class="section">
        
        <div class="columns">
            <div class="column has-text-centered">
                <h1>Rock Paper Scissors</h1>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <h2>P1: {{game.get_player_choice()}}</h2>
            </div>
            <div class="column">
                <h2>CPU: {{game.get_computer_choice()}}</h2>
            </div>
        </div>
        
        <div>
            <h2>WINNER: {{game.winner}}</h2>
        </div>

        <div class=" columns">
            <div class="column">
                <form action="/rps/{{game_id}}/" method="post">
                    <input type="hidden" name='player_choice' value='rock'>
                    <button type="submit">Rock</button>
                </form>
            </div>

            <div class="column">
                <form action="/rps/{{game_id}}/" method="post">
                    <input type="hidden" name='player_choice' value='paper'>
                    <button type="submit">Paper</button>
                </form>
            </div>

            <div class="column">
                <form action="/rps/{{game_id}}/" method="post">
                    <input type="hidden" name='player_choice' value='scissors'>
                    <button type="submit">Scissors</button>
                </form>
            </div>
        </div>

    </div>
</div>


